.header_top__title a{
    color: black;
    font-size: 12px;
    font-weight: 500;
}
.header__title{
    margin-bottom: 10px;
}
.header__fullname{
    font-size: 15px;
}

.header__image {
    max-width: 80px;
    margin-left: 15px;
}
.header__search{
    margin-right: 15px;
}

.header__img{
    height: 450px;
    width: 600px;
}

.navbar__bg{
    background-color: #21325b;
    /*font-size:12px;*/
}
.navbar-nav li{
    margin: 0 40px;
}
.navbar-nav li a.dropdown-item:focus,.navbar-nav li a.dropdown-item:hover{
    background-color: #21325b;
} 
.articles{
    margin-top: 10px;
}
.articles__link{
    color: black;
    font-weight: 800;
}
.btn_bottom{
    bottom: 0;
    right: 5px;
}

.partners{
    margin-top: 10px;
    width: 150px;
    height: 100%;
}

.partner__image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.partner__image:hover{
    border-radius: 25px;
}
.footer{
    background-color: #21325b;
    padding-top: 20px;
    color: #fff;
    margin: 0 15px;
}
.footer p{
    margin-bottom: 0;
}
.footer_first__row{
    margin-bottom: 20px;
}
.article__card{
    margin-bottom: 15px;
    margin-top: 15px;
}

.list_item__link{
  font-size: 12px;
  color: #000;
  font-weight: 400;
}
.card__link{
  color: #000;
  font-size: 14px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .partners{
        margin-top: 30px;
        width: 150px;
        height: 100%;
    }
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .navbar-nav li{
        margin: 0 10px;
    }
    .partners{
        margin-top: 10px;
        width: 100px;
        height: 100%;
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .navbar-nav li{
        margin: 0 20px;
    }
    .partners{
        margin-top: 10px;
        width: 100px;
        height: 100%;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
    .navbar-nav li{
        margin: 0 40px;
    }
}
